$primary_color : #005198;
$primary_color_2 : #A9AAAD;

$red_color     : #ed1b24;
$bg_hover_menu : #f4efef;


// $themes : (dark: (n_modal_header_background: #fff) //START

//     light : (n_modal_header_background: #fff));